@import "tailwindcss";
@import "@nuxt/ui";



@theme static {
  --font-sans: 'Public Sans', sans-serif;
}
.dark {
  --ui-bg: var(--ui-color-neutral-950);
  --ui-bg-muted: var(--ui-color-neutral-900);
  --ui-bg-elevated: var(--ui-color-neutral-900);
  --ui-bg-accented: var(--ui-color-neutral-800);
  --ui-text: var(--ui-color-neutral-100);
  --ui-text-muted: var(--ui-color-neutral-400);
  --ui-border: var(--ui-color-neutral-800);
}

